@import "src/scss/vars";
@import "src/scss/mixin";

.edit {
    height: 100%;
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    &__button {
        svg {
            width: 30px;
            height: 30px;
        }
    }
    &__menu {
        display: none;
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: #fff;
        font-size: 1.5rem;
        border: 1px solid $grey-100;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                margin: 1rem;
            }
        }
    }
}

.edit--open {
    .edit__menu {
        display: block;
    }
}