@import "src/scss/vars";
@import "src/scss/mixin";


.post-wrapper {
    padding: 6rem 0;
}

.post {
    display: grid;
    max-width: 728px;
    margin: auto;
    grid-template-columns: 1fr;
    gap: 2rem;
    &__img {
        img {
            width: 100%;
            display: block;
        }
    }
    &__header {
        background-color: #fff;
        border: 1px solid $grey-200;
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: 1fr auto auto;
    }
    &__title {
        font-weight: 400;
        margin: 0;
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }
    &__author {
        margin-bottom: .5rem;
        font-style: normal;
        font-size: 1.5rem;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &::before {
            content: "\25CF";
            display: inline;
            margin-right: .5rem;
        }
    }
    &__category {
        font-weight: 400;
        color: $primary;
        margin: 0;
        font-size: 2rem;
    }
    &__description {
        background-color: #fff;
        border: 1px solid $grey-200;
        padding: 2rem 2rem;
        font-size: 1.7rem;
        p {
            margin: 0;
            line-height: 1.5;
        }
    }
}