@import "src/scss/vars";
@import "src/scss/mixin";

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 8rem;
    width: auto;
    background-color: rgba($color: #fff, $alpha: .8);
    border-bottom: 1px solid $grey-200;
    backdrop-filter: blur(5px);
    z-index: 10;
}

.page-header {
    min-height: $header-min-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        a {
            text-decoration: none;
            &.root {
                pointer-events: none;
                cursor: default;
            }
        }
        svg {
            width: 4.5rem;
            height: 4.5rem;
            vertical-align: middle;
            margin-right: 1rem;
            border-radius: 5px;
        }
        span {            
            height: 100%;
            vertical-align: middle;
            font-size: 2.1rem;
            font-weight: 600;
            color: $black-900;
            display: none;
            @include tablet() {
                display: inline;
            }
        }
    }
}

.page-header__links {
    display: none;
    align-self: stretch;
    line-height: $header-min-height;
    @include tablet() {
        display: flex;
    }
    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        align-self: stretch;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.3rem;
            font-weight: 700;
            margin-right: 1.5rem;
            a {
                color: $black-900;
                text-decoration: none;
                position: relative;
                padding: 0 1.5rem;
                align-self: stretch;
                font-weight: 400;
            }
            .active::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $primary;
                z-index: -3;
            }
        }
    }
}