@import '../scss/vars';

.account {
    position: relative;
    &__button {
        display: flex;
        align-items: center;
        cursor: pointer;
        &::after {
            content: "";
            display: block;
            border-top: 8px solid $black-900;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            transform: translateY(15%) rotate(0deg);
            margin-left: .5rem;
            transition: transform .1s ease-out;
        }
        &:hover::after {
            transform: translateY(40%);
        }
    }
    &__name {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 3rem;
        vertical-align: middle;
    }
    &__icon {
        margin-left: .5rem;
        border: 2px solid transparent;
        transition: .1s border linear;
        border-radius: 50%;
        svg {
            height: 3.6rem;
            width: 3.6rem;
            vertical-align: middle;
        }
    }
    &__menu {
        display: none;
        position: absolute;
        background-color: white;
        font-size: 1.5rem;
        font-weight: 400;
        right: 0;
        margin-top: 1rem;
        border-radius: 5px;
        border: 1px solid $grey-100;
        box-shadow: 1px 1px 3px 1px rgba(180, 180, 180, .44);
        z-index: -2;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            border-radius: 5px;
            overflow: hidden;
        }
        li {
            margin: .5rem auto .5rem 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0 1.5rem;
            margin: 0;
            min-height: 4rem;
            background-color: #fff;
            z-index: 1;
            &:hover {
                background-color: $grey-50;
            }
            span, a{
                color: inherit;
                display: inline;
                white-space: nowrap;
                text-decoration: none!important;
                vertical-align: middle;
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                flex-shrink: 1;
            }
            svg {
                height: 2.4rem;
                width: 2.4rem;
                margin-right: 1rem;
                display: inline;
                vertical-align: middle;
            }
        }
        &::before {
            content: "";
            display: block;
            top: 0rem;
            right: 31px;
            border-top: 1px solid $grey-100;
            border-left: 1px solid $grey-100;
            border-right: none;
            border-bottom: none;
            transform: translateY(-60%) rotate(45deg);
            width: 10px;
            height: 10px;
            background-color: white;
            position: absolute;
            z-index: -1;
        }
    }
}

.account--open {
    .account__icon {
        border: 2px solid $primary;
    }
    .account__menu {
        display: block;
    }
    .account__button::after {
        transform: translateY(-15%) rotate(180deg);
    }
}

.signed-as {
    padding: .5rem 1.5rem;
    line-height: 1.45;
    border-bottom: 1px solid $grey-100;
    text-align: center;
}