@import "src/scss/mixin";
@import "src/scss/vars";

.add-post-form {
    display: grid;
    grid-template-columns: 1fr;
    @include small() {
        grid-template-columns: 1fr 1fr;
    }
    &__image {
        img {
            width: 100%;
            max-width: 50rem;
            display: block;
            margin: auto;
        }
    }
    &__form {
        padding-left: 2rem;
    }
    .ui .field label.add-post-form__label {
        font-size: 13px;
        font-weight: normal;
        font-family: "Roboto", sans-serif;
        padding-left: .5rem;
        margin-bottom: .5rem;
    }
}

.ui .search {
    font-size: 1.5rem!important;
}
.ui.form textarea {
    font-size: 1.5rem!important;
}