@import "src/scss/vars";

.checkbox {
    position: relative;
    @extend %pointer;
    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
    }
    input[type="checkbox"]:focus ~ div{
        box-shadow: 0 0 0 1px $blue-400;
        border: 1px solid $blue-400;
    }
    input[type="checkbox"]:checked ~ div {
        border: 1px solid $blue-400;
        svg {
            display: block;
            width: 80%;
            height: 80%;
        }
    }
    div {
        background-color: transparent;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid $grey-100;
        box-shadow: 0 0 1px 1px white;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            display: none;
        }
    }
}