@import "src/scss/vars";
@import "src/scss/mixin";

.post-wrapper {
    padding: 6rem 0;
}

.post {
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-200;
    box-shadow: 1px 1px 5px 1px $grey-100;
    &__img {
        background-color: #fff;
        img {
            width: 100%;
            display: block;
        }
    }
    &__header {
        background-color: #fff;
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: 1fr auto auto;
    }
    &__title {
        font-weight: 400;
        margin: 0;
        font-size: 2.5rem;
    }
    &__author {
        font-style: normal;
        font-size: 1.5rem;
        position: relative;
        text-decoration: none;
        color: $black-900;
        &::after {
            content: "\25CF";
            display: inline;
            margin-right: .5rem;
            margin-left: .5rem;
        }
    }
    &__time {
        font-size: 1.5rem;
    }
    &__edited {
        font-size: 1rem;
        padding: 0 .5rem;
        color: $grey-300;
    }
    &__category {
        font-weight: 400;
        color: $primary;
        margin: 0;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    &__info {
        background-color: #fff;
        padding: 1.5rem 2rem;
    }
    &__description {
        margin-top: 1rem;
        font-size: 1.7rem;
        p {
            margin: 0;
            line-height: 1.5;
        }
    }
}