@import "./scss/vars";

body {
    color: $black-900;
}
.container {
    max-width: $container-width;
    margin: auto;
    padding: $container-padding;
    box-sizing: content-box;
}
.main-content {
    margin-top: $header-min-height;
}
