* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FAFAFA;
    font-family: "Roboto", sans-serif!important;
}

.wrapper {
    padding-right: calc((100vw - 100%) * (-1));
    width: 100%;
}

input, button {
    font-family: "Roboto", sans-serif!important;
}

@import url("./fonts/HelveticaNeue/stylesheet.css");
