@import "./vars";

@mixin mobile {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin small {
    @media only screen and (min-width: 576px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin pc {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin hover {
    @media only screen and (pointer) {
        @content;
    }
}

@mixin smartphone {
    @media only screen and (pointer: none) {
        @content;
    }
}

$maxWidth: 1170;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
