$container-width: 1170px;
$container-padding: 0 15px;

$grey-200: #d1d1d1;
$grey-300: #9f9f9f;
$grey-400: #6c7382;

$red-100: #ffb0b0;
$red-200: #ff4d47;
$red-300: #fc3d3d;

$blue-400: #3b90f3;

$green-300: #2aaa46;
$green-500: #02791c;

$black-900: #343a40;
