@import "src/scss/vars";

.modal {
    width: 55rem;
    max-width: 100%;
    min-height: 10rem;
    background-color: white;
    outline: none;
    border-radius: 10px;
    padding: 2.5rem;
    margin: 0 1rem;
    border: 1px solid $grey-400;
    box-shadow: 0px 0px 15px $black-900;
    &__title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        margin: 3rem auto;
        font-family: inherit;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__input {
        display: flex;
        flex-direction: column;
        margin: 2.5rem 0;
        label {
            font-size: 1.5rem;
            color: $grey-300;
            padding-left: .5rem;
            padding-bottom: .5rem;
        }
        input {
            min-height: 5rem;
            border: 1px solid $grey-200;
            border-radius: 3px;
            padding: 0 1.5rem;
            font-size: 2rem;
            outline: none;
            transition: border .1s linear, box-shadow .1s linear;
            &:focus {
                border: 2px solid $primary;
                box-shadow: 0px 0px 3px 0px $primary;
            }
            &:read-only {
                color: $grey-400;
            }
        }
    }
    &__message {
        font-size: 1.5rem;
        margin: 1rem auto 4rem;
        b {
            text-transform: uppercase;
        }
    }
}

.modal__buttons {
    display: flex;
    justify-content: flex-end;
    &--center {
        justify-content: center;
    }
    button{
        border: 1px solid $green-500;
        color: $black-900;
        font-weight: 500;
        border-radius: 5px;
        line-height: 5rem;
        font-size: 1.9rem;
        cursor: pointer;
        padding: 0;
        text-align: center;
        width: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            padding: .5rem;
        }
    }
    .modal__close {
        background-color: #fff;
        border: 1px solid $grey-300;
    }
    .modal__submit {
        margin-left: 1rem;
        color: white;
        background-color: $primary;
        border: 1px solid darken($color: $primary, $amount: 15%);
        &:disabled {
            opacity: .5;
        }
    }
}