@import "src/scss/vars";

.not-found {
    margin: auto;
    text-align: center;
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        color: $primary;
    }
}